<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Home</ion-title>
        <ion-buttons slot="end">
            <ion-button color="primary" [routerLink]="['/auth/endsession']">
                <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Home</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-card>

        <ion-card-header>
            <ion-card-title>No Auth</ion-card-title>
            <ion-card-subtitle>Will try to get ToDo without token</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <ion-button expand="block" fill="outline" (click)="getToDo()">Get ToDo</ion-button>
            <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
            {{ todo | json}}
        </ion-card-content>

    </ion-card>
    <ion-card>

        <ion-card-header>
            <ion-card-title>With Auth</ion-card-title>
            <ion-card-subtitle>Will try to get ToDo WITH token</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <ion-button expand="block" fill="outline" (click)="getAuthToDo()">Get ToDo</ion-button>
            <ion-spinner *ngIf="authLoading" name="crescent"></ion-spinner>
            {{ authTodo | json}}
        </ion-card-content>

    </ion-card>
</ion-content>